body {
  margin: 0;
  background: linear-gradient(180deg, rgb(210, 211, 211), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scroll bars */
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
}

/* Ensure no scroll bars and full height */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scroll bars */
}
